@using Microsoft.AspNet.Identity
@model ViewModels.VoyageViewModel

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/OrderIndex.js"></script>
<link href="~/Content/OrderIndex.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="container" id="divOrderList">
                <div id="divOrderInfo">
                    <h3 id="orderName" voyageId="@Model.Id" userId="@User.Identity.GetUserId()" orderId="">Order №</h3>                 
                    <label id="labelNumber">Number voyage: @Model.Number</label>
                    <label id="labelName">Name voyage: @Model.Name</label>
                    <label>Departure: @Model.Departure</label>
                    <label>Arrival: @Model.Arrival</label>
                    <label style="margin-right:30px;">Travel time: @Model.TravelTime</label>
                    <label>Number of seats:</label>
                    <select name="NumberSeats" id="selectNumbers">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <label style="margin-right:80px;">One ticket cost: @Model.OneTicketCost</label>
                    <button class="btn btn-info" id="btnOneStep">Next>></button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" id="divTickets">
                <h3>Passengers information</h3>
                <div id="divAddPassenger"></div>
                <button class="btn btn-info" id="btnBookTicket">Book a tickets</button>
            </div>
        </div>
    </div>
    
    <div class="container" id="containerResult">
        <h3 class="text-success">Your ticket is successfully booked!</h3>
        <div id="containerTicketInfo">
        </div>
        <a href="" class="btn-link" id="aBuyNow">BuyNow</a>
      
    </div>
</div>


<script id="addPassengerInfo" type="text/x-jquery-tmpl">
    <div class="containerPassenger">
            <input type="text" id="inputFirstName" placeholder="First Name" style="margin:10px;"/>
            <input type="text" id="inputLastName"  placeholder="Last Name" style="margin:10px;"/>
            <input type="text" id="inputDocumentNumber"  placeholder="Document Number" style="margin:10px;"/>
    </div>
</script>
<script id="addTicketInfoTmpl" type="text/x-jquery-tmpl">   
        <div id="divTicketInfo" >
            <h3>Ticket №${Id}</h3>
            <label style="margin-right:50px;">Number Order: ${OrderId}</label>
            <label style="margin-right:50px;">Number Voyage: ${VoyageNumeber}</label>
            <label style="margin-right:50px;">Voyage Name: ${VoyageName}</label>
            <label>Departure: ${Departure}</label>
            <label style="margin-right:50px;">Passenger's Name: ${PassengerName}</label>
            <label style="margin-right:50px;">Document number: ${DocumentNumber}</label>
            <label style="margin-right:50px;">Number Voyage: ${NumberSeet}</label>
            <label style="margin-right:50px;" class="text-info">Status: ${Status}</label>            
        </div>    
</script>
